# Node
node_modules
npm-debug.log
.npmignore
.editorconfig

# Yarn
yarn-error.log
yarn.lock

# JetBrains
.idea/

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store

# Temporary files
coverage/
docs
tmp/

# tsconfig & build
.angular-cli.json
.travis.yml
gulpfile.js
karma-test-entry.ts
karma.conf.ts
tsconfig-aot.json
tsconfig.json
tslint.json
webpack-test.config.ts 
webpack-umd.config.ts

# Source files
src/
demo/
