<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <div>
    <span>today is = </span>
    <h2g format="full" class="todayis"></h2g>
  </div>
  <div>
    <span>Tommoro is = </span>
    <h2g date="1/1/2018"></h2g>
  </div>
  <div>
    <span>After tommoro with splitter = </span>
    <h2g date="30-10-2017" splitter="-" format="full"></h2g>
  </div>
  <div>
    <span>Using pipes hijri</span>
    <label>{{ '10-01-2001' | h2g:'-'}}</label>
  </div>
  <div>
      <span>Using pipes gregorian</span>
      <label>{{ '10/01/1430' | g2h:'/'}}</label>
  </div> 
  <div>
      <span>hijri to gregorian =</span>
      <g2h date="10/01/1430" format="full"></g2h>
  </div>   
</div>


